# node
# node_modules
.npm
.npmrc.local

# svelte/vite
.svelte-kit
dist
# build
coverage

# tests & local stuff
tests
.vitest
*.log
.vscode
.idea

# git & misc
.git
.gitignore
Dockerfile
.dockerignore

# keep other ignores, but DO NOT ignore the artifacts we need:
!.dockerignore
!package.json
!package-lock.json
!build
!node_modules