# node
# node_modules
.npm
.npmrc.local

# svelte/vite
.svelte-kit
dist
# build
coverage

# tests & local stuff
tests
.vitest
*.log
.vscode
.idea

# git & misc
.git
.gitignore
Dockerfile
.dockerignore