engine-strict=true
fund=false
audit=false
progress=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=600000
cache=/root/.npm
registry=https://registry.npmjs.org/